<div class="hide-on-med-and-up center" style="padding-top: 20%;background-image: url(/images/banners/{{ page.image }});background-color:#fff;background-repeat: no-repeat;background-position: center;background-size: cover;height: 260px;">
    <h3 class="white-text">{{ page.image-headline }}</h3>
    <h6 class="white-text">{{ page.image-tagline }}</h6>
</div>
<div class="hide-on-large-only hide-on-small-only center" style="padding-top: 20%;background-image: url(/images/banners/{{ page.image }});background-color:#fff;background-repeat: no-repeat;background-position: center;background-size: cover;height: 360px;">
    <h2 class="white-text">{{ page.image-headline }}</h2>
    <h5 class="white-text">{{ page.image-tagline }}</h5>
</div>
<div class="hide-on-med-and-down center" style="padding-top: 20%;background-image: url(/images/banners/{{ page.image }});background-color:#fff;background-repeat: no-repeat;background-position: center;background-size: cover;height: 560px;">
    <h1 class="white-text">{{ page.image-headline }}</h1>
    <h4 class="white-text">{{ page.image-tagline }}</h4>
</div>
