<div class="row">
    <div class="container col s12 m4">
        <button class="waves-effect waves-light btn blue" onclick="prev()"><< Earlier</button>
        <button class="waves-effect waves-light btn blue" onclick="next()">Later >></button>
    </div>
</div>
    <div class="row">
        <div id="calendar0" class="col s12 m4 z-depth-2"></div>
        <div id="calendar1" class="col s12 m4 z-depth-2"></div>
        <div id="calendar2" class="col s12 m4 z-depth-2"></div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <table>
                <tr class="booked"><td>Confirmed Booking</td></tr>
            </table>
        </div>
        <div class="col s12 m4">
            <table>
                <tr class="provisional"><td>Provisional Booking</td></tr>
            </table>
        </div>
        <div class="col s12 m4">
            <table>
                <tr class="free"><td>This could be your week!</td></tr>
            </table>
        </div>
    </div>
